@{
    ViewData["Title"] = "Product Page";
}

@model ProductViewModel
<div class="container mt-3">
    <partial name="_Notification"/>
  <div class="product-header d-flex justify-content-between">
        <h3 class="">Product List</h3>   
          <a
            id="create-product"
            type="button" 
            class="btn btn-primary" 
            asp-area="Admin"
            asp-controller="Product"
            asp-action="Upsert"
            >
            Create New Product
           </a>  
  </div>    

    <form method="get" asp-action="Index" class="d-flex justify-content-end mb-3 mt-2">
        <input name="search"
        value="@Model.Search"
        placeholder="Search by title, author, ISBN, category..."
        class="form-control d-inline w-25" />
        <button type="submit" class="btn btn-primary ms-2">
        Search
    </button>

    </form>

    <table class="table text-center" id="productTable">
  <thead>
    <tr>  
      <th scope="col">Title</th> 
      <th scope="col">ISBN</th> 
      <th scope="col">Author</th>
      <th scope="col">ListPrice</th>
      <th scope="col">Price50</th>
      <th scope="col">Price100</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>


    </tr>

    </thead>
    

    <tbody>

      @try{
        if(Model.Products == null || !Model.Products.Any()){
          <tr>
              <td colspan="10">No Products Available</td>
          </tr>
      }
      else
      {
        foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.ISBN</td>
                <td>@item.Author</td>
                <td>@item.ListPrice</td>
                <td>@item.Price50</td>  
                <td>@item.Price100</td>
                <td class="product_description">@item.Description</td>
                <td>@item.Category.Name</td>
                <td>
                  
                 @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                      <img src="@item.ImageUrl" alt="image" width="80" height="80" style="object-fit:cover;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@item.Id">Edit</a>
                    <button class="btn btn-danger delete-btn" 
                     data-name="@item.Title"
                     data-id="@item.Id"
                     data-bs-toggle="modal"
                     data-bs-target="#deleteModal"
                     >Delete</button> 
                </td>
            </tr>
        }
        }
      }
      catch(Exception ex){
          Console.WriteLine("Exception caught in Product Index View: " + ex.Message);
      }
         
    </tbody>

    </table>
    <nav>

    <ul class="pagination d-flex justify-content-end mb-3 mt-2">

      <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link m-1"
               asp-action="Index"
               asp-route-page="@(Model.CurrentPage - 1)"
               asp-route-search="@Model.Search">
                ‹
            </a>
        </li>

        @for(int i=1;i<=Model.TotalPages;i++){
          <li class="page-item @(i == Model.CurrentPage ? "disabled" : "")">
                <a class="page-link m-1"
                   asp-action="Index"
                   asp-route-page="@i"
                   asp-route-search="@Model.Search">
                    @i
                </a>
            </li>
        }
      <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
            <a class="page-link m-1"
               asp-action="Index"
               asp-route-page="@(Model.CurrentPage + 1)"
               asp-route-search="@Model.Search">
                ›
            </a>
        </li>

    </ul>
    </nav>

</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Are you sure you want to delete
        <strong id="productName"></strong>?
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
          Cancel
        </button>

        <form method="post" id="deleteForm">
          <button type="submit" class="btn btn-danger">
            Delete
          </button>
        </form>
      </div>

    </div>
  </div>
</div>


@section Scripts {
<script>
    $(document).ready(function () {
       $(".product_description").each(function(){
           var text = $(this).text();
           if(text.length > 10){
               var truncated = text.substring(0,10) + "...";
               $(this).text(truncated);
           }
       });
       $('.delete-btn').click(function () {
           var productId = $(this).data('id');
           var productName = $(this).data('name');
           $('#productName').text(productName);
           $('#deleteForm').attr('action', '/Admin/Product/Delete/' + productId);
       });
       

    });
</script>
}

