@{
    ViewData["Title"] = "Category  Page";
}
@model CategoryViewModel
<div class="container mt-3">
  <div class="category-header d-flex justify-content-between">
        <h3 class="">Category List</h3>
        
          <button
          id="create-category"
           type="button" 
           class="btn btn-primary" 
           data-bs-toggle="modal"
           data-bs-target="#categoryModal">
           Create New Category
           </button>  
  </div>
    

    <table class="table text-center">
  <thead>
    <tr>  
      <th scope="col">Category Name</th> 
      <th scope="col">Display Order</th> 
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    @if(Model.Categories != null){
        foreach(var categoryItem in Model.Categories){
    <tr>
      
      <td>@categoryItem.Name</td>
      <td>@categoryItem.DisplayOrder</td>
      <td>
      <button 
        data-bs-toggle="modal"
        data-bs-target="#categoryModal"
        class="btn btn-info editCategory"
        data-id="@categoryItem.Id"
        data-name="@categoryItem.Name"
        data-displayorder="@categoryItem.DisplayOrder"
        >
        <i class="bi bi-pencil"></i>Edit</button>
      <button
       data-bs-toggle="modal"
       data-bs-target="#categoryModal"
       asp-controller="Category"
       asp-action="Delete"  
       class="btn btn-warning deleteCategory"
       data-id="@categoryItem.Id"
       data-name="@categoryItem.Name"
       data-displayorder="@categoryItem.DisplayOrder"
       >
       <i class="bi bi-trash"></i>Delete</button>
      </td>
    </tr>
        }
       
    }
  </tbody>
  
</table>

</div>
<partial name="_Notification"/>

<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form id="category-form" method="post">

          <div class="mb-3">

            <input type="hidden" asp-for="Category.Id" id="categoryId">

            <label asp-for="Category.Name" class="form-label"></label>
            <input asp-for="Category.Name"  
                   class="form-control"
                   placeholder="Enter category name"  
                   id="categoryName"  
                    />
            <span  asp-validation-for="Category.Name" class="text-danger d-block m-1"></span>
                   
            <label asp-for="Category.DisplayOrder" class="form-label"></label>
            <input asp-for="Category.DisplayOrder"    
                   class="form-control"
                   placeholder="Enter Display Order"
                   id="categoryDisplayOrder"    
                   />
                   <span asp-validation-for="Category.DisplayOrder" class="text-danger d-block m-1"></span>      
          </div>

          <!-- Hidden Id for Edit -->
          <span asp-validation-summary="All" class="text-danger"></span>
           <button type="submit"
                class="btn btn-primary update-btn"
                id="scoped-button"
                >
                Save Category
        </button>

        </form>
      </div>

    </div>
  </div>
</div>

@section Scripts{
  @{
    <partial name ="_ValidationScriptsPartial"/>
    @if (!ViewData.ModelState.IsValid)
    {
        <script>        
            var modal = new bootstrap.Modal(
                document.getElementById('categoryModal')
            );
            modal.show();
        </script>
    }

  }

  <script>
    const categoryModal = document.getElementById('categoryModal');
    
    $("document").ready(function(){
      categoryModal.addEventListener('hidden.bs.modal', function () {
        document.querySelectorAll('.text-danger').forEach(el => {
            el.innerText = '';
        });

    });  

      $("#create-category").click(function(){
        console.log("Create Category Clicked\n");

         $("#categoryModal .modal-title").text("Add Category");
         $("#scoped-button").text("Save Category");
         $("#category-form").attr("action","@Url.Action("Create","Category",new { area = "Admin" })");

          $("#categoryId").val("");
        $("#categoryName").val("").prop("readonly", false);
        $("#categoryDisplayOrder").val("").prop("readonly", false);
            
      })

      $(".deleteCategory").click(function(){
        $("#categoryModal .modal-title").text("Delete Category");
        $("#scoped-button").text("Delete");
        const id = $(this).data("id");
        const name = $(this).data("name");
        const displayOrder = $(this).data("displayorder");
        console.log(id+". "+ name +". "+displayOrder);
        $("#category-form").attr("action","@Url.Action("Delete","Category",new { area = "Admin" })");
       $("#categoryId").val(id)
       $("#categoryName").val(name);
       $("#categoryDisplayOrder").val(displayOrder);
       $("#categoryName, #categoryDisplayOrder").prop("readonly", true);

      })
       $(".editCategory").click(function(){
       $("#categoryModal .modal-title").text("Edit Category");
       $("#scoped-button").text("Edit");
        const id = $(this).data("id");
        const name = $(this).data("name");
        const displayOrder = $(this).data("displayorder");

        console.log(id+". "+ name +". "+displayOrder);

       $("#category-form").attr("action","@Url.Action("Edit","Category")");

       $("#categoryId").val(id);
       $("#categoryName").val(name);
       $("#categoryDisplayOrder").val(displayOrder);

      })
    })

    
</script>


}

